body{
	background-color: #E9E9E9;
}

header{
	background-color: #FAFAFA;
	height: 3rem;
}

footer{
	background-color: #FAFAFA;
	height: 2rem
}

div{
	background-color: ;
}

.box{
	margin: 0 auto;
	width: 100px;
}
